<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@AppService.AppName</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
	<link rel="stylesheet" href="sweetalert2.min.css">
	<script src="~/Scripts/modernizr-2.8.3.js"></script>
	<script src="~/Scripts/jquery-3.6.0.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="sweetalert2.min.js"></script>



	@RenderSection("styles", required: false)
	@RenderSection("scripts", required: false)
</head>
<body>
	<div class="container body-content">
		@RenderBody()
	</div>
</body>
</html>